* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid salmon; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
form {
  max-width: 600px;
}

form > :nth-child(2) {
  color: red;
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
}

.passwords {
  display: flex;
  gap: 2rem;
}

label {
  display: block;
  margin: 1rem 0 0.2rem 0;
  font-family: "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-size: 0.82rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

label + input {
  width: min(270px, 100%);
  border: 1px solid rgb(209, 205, 205);
  border-radius: 5px;
}

input,
select {
  min-width: 100%;
  padding: 10px;
  font-size: 1.1rem;
}

.button-div {
  /* border: 5px solid blue; */
  padding-left: 40px;
  background-color: #f9fafb;
  height: calc(100vh - 400px);
  box-shadow: 1px -4px 5px 0px rgb(203 201 201 / 0.75);
  -webkit-box-shadow: 1px -4px 5px 0px rgb(203 201 201 / 0.75);
  -moz-box-shadow: 1px -4px 5px 0px rgb(203 201 201 / 0.75);
}

button {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: #596d48;
  padding: 10px 40px;
  margin: 2.5rem 0 1.5rem 0;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 5px 0px rgba(198, 186, 186, 0.75);
  -webkit-box-shadow: 2px 5px 5px 0px rgba(198, 186, 186, 0.75);
  -moz-box-shadow: 2px 5px 5px 0px rgba(198, 186, 186, 0.75);
}

input:valid {
  color: green;
  border: 2px solid green;
  outline: none;
}

input:placeholder-shown {
  border: 1px solid rgb(209, 205, 205);
}

input:invalid {
  color: red;
  border: 2px solid red;
  outline: none;
}
